/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 26, 2017, 9:55:16 AM
    Author     : ryan
*/

#page1{
/*    margin:100px;*/
    position: absolute;
    top: 70%;
    left: 50%;
    /*
        Padding is necessary to account for the fixed position of the 
        id"container-fluid" div navbar that will be fixed at the top of the page
    */
    padding-top:10%;
    
}

#page2{
/*    margin:100px;*/
    position: absolute;
    top: 140%;
    left: 50%;
    /*
        Padding is necessary to account for the fixed position of the 
        id"container-fluid" div navbar that will be fixed at the top of the page
    */
    padding-top:10%;
}


#page3{
/*    margin:100px;*/
    position: absolute;
    top: 210%;
    left: 50%;
    
    height:60%;
    /*
        Padding is necessary to account for the fixed position of the 
        id"container-fluid" div navbar that will be fixed at the top of the page
    */
    padding-top:10%;



}