/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 26, 2017, 9:55:16 AM
    Author     : ryan
*/

#page1{
/*    margin:100px;*/
    position: absolute;
    top: 100px;
    left: 10%;
    width:1300px;
    /*
        Padding is necessary to account for the fixed position of the 
        id"container-fluid" div navbar that will be fixed at the top of the page
    */
    padding-top:100px;
    padding-bottom: 100px;
    
}

#page2{
/*    margin:100px;*/
    position: absolute;
    top: 1200px;
    left: 10%;
    width:1300px;
    /*
        Padding is necessary to account for the fixed position of the 
        id"container-fluid" div navbar that will be fixed at the top of the page
    */
    padding-top:100px;
    padding-bottom: 100px;
}


#page3{
/*    margin:100px;*/
    position: absolute;
    top: 2300px;
    left: 10%;
    
    width:1300px;
    /*
        Padding is necessary to account for the fixed position of the 
        id"container-fluid" div navbar that will be fixed at the top of the page
    */
    padding-top:100px;
    padding-bottom: 100px;
    



}


#page4{
/*    margin:100px;*/
    position: absolute;
    top: 3400px;
    left: 10%;
    
    width:1300px;
    /*
        Padding is necessary to account for the fixed position of the 
        id"container-fluid" div navbar that will be fixed at the top of the page
    */
    padding-top:25px;
    padding-bottom: 100px;
    



}



/*
Content for the 'about' page splits 30%/ 50% between
the image and the words
*/
.words{
    width:65%;
    display:block;
    float:left;
    font-size: 20px;
}

.me{
    display:block;
    text-align: left;
    width:30%;
    float:left;
}


.description{
    font-size: 20px;
    width:1000px;
}


.myPhoto{
    width:225px;
    height:225px;
}
#scatterContainer{
    width:1300px;
}
