body, html {
    background-color: black;
    color: white;
    height: 100%;
}

.full-height{
    height: 100%;
}

.toggle-button{
    background-color: #554d3a;    
    border-radius: 10px;
    color: white;
    font-size: large;
    height: 50px;
    margin: 5px;
    width: 220px;
}

@media (min-width: 650px){
    .toggle-button-container{
        display: inline;
    }
}
.toggle-button:hover {
    background-color: #fff2d2;
    color: black;
}

.toggle-currently-selected-button {
    background-color: #c1b291;
    color: black;
}

.toggle-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: center;
}


